@{
    // TODO: Tạo các textbox tra cứu
    // Tạo hàm generate giao diện list riêng của người dùng
    //

    // Màn hình này show tất cả khoản thu chi và tra cứu
    Layout = null;

    // ****************** Khởi động Dữ liệu Nguồn - Nội bộ *****************
    var Ung_dung = XL_UNG_DUNG.Khoi_dong_Ung_dung();
    var Nguoi_dung = Ung_dung.Khoi_dong_Nguoi_dung();
    var Chuoi_HTML_Ket_qua = "";
    var Chuoi_HTML_Form = "";           // chuỗi xử lý form.
    var Chuoi_Chuc_nang = "";

    // Khi người dùng bấm vô một cái button thì load lại màn hình này với tham số là
    // ****************** Khai báo và Khởi động giá trị đầu cho biến *******
    var Ma_so_Chuc_nang = Request["Th_Ma_so_Chuc_nang"];
    if (Ma_so_Chuc_nang == null)
    {
        Ma_so_Chuc_nang = Nguoi_dung.Chuc_nang_Khoi_dong_MH_Chinh.Ma_so;
    }



    // Kiểm tra đăng nhập

    if (Nguoi_dung.Ten_Dang_nhap == null)
    {
        Response.Redirect("MH_Dang_nhap.cshtml");
    }

    // Chuỗi HTML xử lý trên trang này Xử lý trên trang này
    if (Nguoi_dung.Ten_Dang_nhap != null)
    {
        if (Ma_so_Chuc_nang == Nguoi_dung.Chuc_nang_Khoi_dong_MH_Chinh.Ma_so)
        {
            Chuoi_HTML_Ket_qua = Ung_dung.Khoi_dong_MH_Chinh();

        }
        // Gọi hàm ghi của ứng dụng tại đây sau khi đã cập nhật thông tin tài khoản
        else if (Ma_so_Chuc_nang == Nguoi_dung.Chuc_nang_Them_Khoan_thu.Ma_so)
        {
            Chuoi_Chuc_nang = Nguoi_dung.Chuc_nang_Them_Khoan_thu.Ten;
            Chuoi_HTML_Form = Ung_dung.Tao_Chuoi_HTML_Form_Them_Khoan_thu(Nguoi_dung);
        }
        else if (Ma_so_Chuc_nang == Nguoi_dung.Chuc_nang_Them_Khoan_chi.Ma_so)
        {
            Chuoi_Chuc_nang = Nguoi_dung.Chuc_nang_Them_Khoan_chi.Ten;
            Chuoi_HTML_Form = Ung_dung.Tao_Chuoi_HTML_Form_Them_Khoan_chi(Nguoi_dung);
        }
        else if (Ma_so_Chuc_nang == Nguoi_dung.Chuc_nang_Cap_nhat_Khoan_thu.Ma_so)
        {
            var ma = Request["Th_Ma_so_Khoan_thu"];
            Chuoi_Chuc_nang = Nguoi_dung.Chuc_nang_Cap_nhat_Khoan_thu.Ma_so;
            Chuoi_HTML_Form = Ung_dung.Tao_Chuoi_HTML_Form_Cap_nhat_Khoan_thu(Nguoi_dung, ma);

        }
        else if (Ma_so_Chuc_nang == Nguoi_dung.Chuc_nang_Cap_nhat_Khoan_chi.Ma_so)
        {
            var ma = Request["Th_Ma_so_Khoan_chi"];
            Chuoi_Chuc_nang = Nguoi_dung.Chuc_nang_Cap_nhat_Khoan_chi.Ma_so;
            Chuoi_HTML_Form = Ung_dung.Tao_Chuoi_HTML_Form_Cap_nhat_Khoan_chi(Nguoi_dung, ma);
        }
        else if (Ma_so_Chuc_nang == Nguoi_dung.Chuc_nang_Xoa_Khoan_thu.Ma_so)
        {
            var ma = Request["Th_Ma_so_Khoan_thu"];
            Chuoi_Chuc_nang = Nguoi_dung.Chuc_nang_Xoa_Khoan_thu.Ma_so;
            Chuoi_HTML_Form = Ung_dung.Tao_Chuoi_HTML_Form_Xoa_Khoan_thu(Nguoi_dung, ma);
        }
        else if (Ma_so_Chuc_nang == Nguoi_dung.Chuc_nang_Xoa_Khoan_chi.Ma_so)
        {
            var ma = Request["Th_Ma_so_Khoan_chi"];
            Chuoi_Chuc_nang = Nguoi_dung.Chuc_nang_Xoa_Khoan_chi.Ma_so;
            Chuoi_HTML_Form = Ung_dung.Tao_Chuoi_HTML_Form_Xoa_Khoan_chi(Nguoi_dung, ma);
        }
        else if (Ma_so_Chuc_nang == Nguoi_dung.Chuc_nang_Dang_xuat.Ma_so)
        {
            Session.Abandon();
            Response.Redirect("MH_Dang_nhap.cshtml");
        }
    }

}

<!doctype html>
<html lang="en">

<head>
    <title>Quản lý Thu chi Cá nhân</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-primary">
            <div class="container">
                <a class="navbar-brand" href="#">@Chuoi_Chuc_nang</a>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="MH_Chinh.cshtml" aria-current="page">
                                Tổng quan
                                <span class="visually-hidden">(current)</span>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="MH_Quan_ly_Thu_Chi_Rieng.cshtml" aria-current="page">
                                Quản lý cá nhân
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto me-1 mt-2 mt-lg-0">
                        <li class="btn btn-outline-light btn-sm">
                            <form method="post">
                                <input type="hidden" name="Th_Ma_so_Chuc_nang" value="@Nguoi_dung.Chuc_nang_Dang_xuat.Ma_so" />
                                <button type="submit" style="color:white;background:black" class="nav-link" href="">@Nguoi_dung.Chuc_nang_Dang_xuat.Ten</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <main class="container">
        <!-- Thổ địa -->
        @Chuoi_HTML_Ket_qua

        <!-- Tiêu đề -->
        <h1>@Html.Raw(Chuoi_Chuc_nang)</h1>
        <!-- This method is GET by default-->
        <!-- Nội dung (form)-->
        @Html.Raw(Chuoi_HTML_Form)
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/&#64;popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous">
    </script>
</body>

</html>
